@media screen and (min-width: 1600px) {
    .w1200 {
        width: 1440px;
    }
}

body {
    height: 4000px;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?nnggoh');
    src: url('../fonts/icomoon.eot?nnggoh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nnggoh') format('truetype'),
    url('../fonts/icomoon.woff?nnggoh') format('woff'),
    url('../fonts/icomoon.svg?nnggoh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.topheader {
    /*background-color: pink;*/
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #FAFAFA;
}

.topheader .fl a {
    position: relative;
    height: 40px;
    margin-right: 10px;
    color: gray;
    line-height: 40px;
    vertical-align: bottom;

}

.topheader .fl a::before {
    content: '\e9d8';
    font-family: 'icomoon';
    color: gray;
    font-size: 18px;
    margin-right: 3px;
}

.topheader .fl a:hover:before, .topheader .fl a:hover {
    color: #008AFF;
}

.topheader .fr li {
    line-height: 40px;
    padding: 0 15px;
    float: left;
    height: 40px;

}

.topheader .fr li a {

    height: 40px;
    color: gray;
    display: block;
}

.topheader .fr a:hover {
    color: #008AFF;
}

.toplogin {
    color: #fff;
    text-align: center;
    margin-top: 5px;
    line-height: 20px;
    padding: 3px 0;
    display: inline-block;
    width: 60px;
    height: 20px;

    border-radius: 15px;
    background-color: #008BFF;
}

.topheader .fr li:nth-child(2) {
    position: relative;
}

.topheader .fr li:nth-child(2):hover .topOnevip {
    display: block;
}

.topOnevip {
    display: none;
    position: absolute;
    z-index: 100;
    top: 40px;
    left: 0;
    width: 220px;
    height: 170px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 1);
    transform: translateX(-25%);
    padding-top: 20px;
    box-sizing: border-box;
}

.topOnevip div {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #F2F2F2;
}

.topheader .fr li:nth-child(2) .topOnevip a {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 162px;
    height: 50px;
}

.fr li:nth-child(2) .topOnevip a:nth-child(2) {
    margin-top: 15px;
}

.topOnevip span {
    color: #008BFF;
    display: block;
    line-height: 48px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid rgba(0, 139, 255, 0.5);
}

.topOnevip span:hover {
    border-color: #008BFF;
}

.topOnevip span em::before {
    content: '\e9d8';
    font-family: 'icomoon';
    color: #008BFF;
    padding-right: 2px;
}

.logo_a {
    position: relative;
    display: block;
    margin: 20px auto;
    width: 135px;
    height: 64px;
}

.logo_a h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -999999px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

.main_inner {
    box-shadow: 0px 0px 14px 2px rgba(235, 235, 235, 1);
    background: #fff;
    border-radius: 8px;
    /*height: 500px;*/
}

.main_hd ul.title {
    width: 1360px;
    padding: 40px 40px 0 40px;

    border-bottom: 1px solid #FAFAFA;

}

.main_hd ul.title > li {
    width: 80px;
    height: 41px;
    line-height: 40px;
    margin: 0 44px;
    float: left;
    text-align: center;
    position: relative;
}

.main_hd ul.title > li > a {
    padding: 0;
    display: inline-block;
    height: 38px;
    line-height: 39px;
    font-size: 18px;
    color: rgba(0, 0, 0, .6);

}

.main_hd ul.title > li:hover > a {
    color: #008bff;
    border-bottom: 2px solid #008bff;
}

.main_hd ul.title > li .sub_box {
    display: none;
    width: 401px;
    /*height: 400px;*/
    position: absolute;
    padding: 20px 20px 20px 30px;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 1);
    border-radius: 6px;
    z-index: 9999;
}

.main_hd ul.title > li:hover .sub_box {
    display: block;
}

.main_hd ul.title > li:nth-child(8):hover .sub_box {
    display: none;
}

.box_hd {
    margin-bottom: 30px;
}

.box_hd span.pages {
    height: 30px;
    line-height: 30px;
    color: gray;
    font-size: 12px;
}

.box_hd a.vipbtn {
    display: block;
    border-radius: 4px;
    width: 120px;
    border: 1px solid rgba(0, 139, 255, 0.5);
    font-size: 14px;
    color: #008BFF;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.box_hd a.vipbtn:hover {
    border-color: #008BFF;
}

.box_hd a.vipbtn i:before {
    content: '\e9d8';
    font-family: "icomoon";
    margin-right: 3px;
}

.box_content ul {

}

.box_content > ul > li {
    height: 30px;
    float: left;
    margin: 0 25px 10px 0;
}

.box_content > ul > li a {
    display: inline-block;
    width: 75px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: rgba(0, 0, 0, .6);
}

.box_content > ul > li a:hover {
    border-radius: 4px;
    background-color: #008BFF;
    color: #ffffff;
}

.main_search {
    padding: 40px 190px 0px;
}

.search_hd li {
    float: left;
    padding: 0 15px;
}

.search_hd li > a {
    font-size: 16px;
    color: rgba(0, 0, 0, .6);
}

.search_hd li:nth-child(1) > a {

    color: #008BFF;
}

.search_main {
    padding-top: 12px;
    margin-bottom: 32px;
}

.search_main input {

    border: 0;
    width: 954px;
    height: 52px;
    padding: 14px 0 14px 15px;
    box-sizing: border-box;
    background-color: #eff3f5;
    outline: none;
    border-radius: 4px 0 0 4px;
    color: rgba(0, 0, 0, .5);
    font-size: 18px;
}

.input_div {
    float: left;
    height: 52px;
    position: relative;
}

.inputtip {

    position: absolute;
    color: rgba(0, 0, 0, .2);
    font-size: 18px;
    left: 15px;
    top: 14px;
}

.msg {
    display: none;
    width: 954px;
    top: 62px;
    left: 0;
    -webkit-box-shadow: 4px 3px 6px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 4px 3px 6px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 4px 3px 6px 3px rgba(0, 0, 0, 0.05);
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 4px;
}

.zuijingsearch {
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    color: rgba(0, 0, 0, .2);
}

.zuijingsearch > a {
    padding-left: 30px;
    font-size: 14px;
    color: rgba(0, 0, 0, .2);
}

.zuijingsearch > a:hover {
    color: rgba(0, 0, 0, .6);
}

ul.key {
    margin-bottom: 10px;
}

ul.key li {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

ul.key li:hover {
    background-color: #f8fafb;
}

ul.key li > a {
    float: left;
    font-size: 16px;
    color: rgba(0, 0, 0, .4);
}

ul.key li:nth-child(1) a, ul.key li:nth-child(2) a, ul.key li:nth-child(3) a {
    color: #ff4c29;
}

ul.key li > span {
    float: right;
    font-size: 16px;
    color: rgba(0, 0, 0, .4);
}

.search_main a.fandajing {
    display: block;
    float: left;
    width: 104px;
    height: 52px;
    background-color: #008aff;
    position: relative;
    border-radius: 0 4px 4px 0;
}

.search_main a.fandajing:before {
    content: '';
    display: block;
    width: 28px;
    height: 28px;
    background: url(//static.588ku.com/imgPath/index/images180509/search-btn-icon.svg) no-repeat center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main_banner {
    width: 1400px;
    height: 450px;
    padding: 0 20px;
    position: relative;
}

.main_banner .banner {
    height: 430px;
    position: relative;
}

.main_banner .banner li {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

.main_banner .banner li:nth-child(1) {
    display: block;
}

.main_banner ol {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;

    height: 10px;
    z-index: 6666;
}

.main_banner ol > li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    /*background: rgba(255,255,255,.4);*/
    background-color: #fff;
    opacity: 0.4;
    margin: 0 12px 0 0;
}

.main_banner ol > li:hover {
    width: 30px;
    background-color: #fff;
    opacity: 1;
    transition: all 0.2s;
}

.main_banner ol > li.current {
    width: 30px;
    background-color: #fff;
    opacity: 1;
    transition: all 0.2s;
}

.banner_left {
    content: '';
    width: 30px;
    height: 51px;
    display: none;
    position: absolute;
    background-image: url(//static.588ku.com/imgPath/index/images180509/prev-icon.png);
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    opacity: 0.4;
}

.banner_right {
    width: 30px;
    height: 51px;
    display: none;
    position: absolute;
    background-image: url(//static.588ku.com/imgPath/index/images180509/next-icon.png);
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    opacity: 0.4;
}



.main_bottom ul {
    margin: 35px 0 32px;
    height: 180px;
}

.list_box ul li {

    float: left;
    width: 268px;
    height: 100%;
    margin-right: 25px;
    margin-bottom: 25px;
}

.list_box ul li:nth-child(5n) {
    margin-right: 0;
}

.list_box ul li a {
    position: absolute;
    display: block;
    width: 268px;
    height: 180px;
    border-radius: 4px;
    overflow: hidden;
}

.list_box ul li a > img {
    width: 268px;
    height: 180px;

}

.list_box ul li a:hover .img_msg {
    transition: all 0.4s;
    height: 100%
}

.list_box .img_msg {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 100%;
    text-align: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.list_box .img_msg div {
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list_box .img_msg span.down_msg {
    display: block;
    line-height: 45px;
    border-bottom: 2px solid rgba(255, 255, 255, .6);
    color: #fff;
    font-size: 20px;
}

.list_box .img_msg span.num {
    display: block;
    line-height: 43px;
    color: rgba(255, 255, 255, .9);
    font-size: 20px;
}

/*专题*/
.allSpecial {
    background-color: #f9f9f9;

}

/*标题通用代码*/
.title {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}

.title h1 {
    font-size: 30px;
    line-height: 30px;
}

.title .link {
    position: absolute;
    right: 0;
    bottom: 0;
}

.title .link span, .title .link a {
    transition: all 0.5s;
    color: #038bfe;
    font-size: 16px;
}

.title .link div {
    display: inline-block;
    position: relative;

}

.title .link div span {
    position: absolute;
    top: 0;
    left: 100%;
}

.title .link a:hover + span {
    left: 110%;
}

/*标题通用代码*/

/*免抠元素专题*/

.element {
    padding-top: 88px;
}
.element .list_box ul li, .element .list_box ul li img, .element .list_box ul li a {
    height: 268px;
}

.element .list_box ul li a:hover .img_msg {
    transition: all 0.4s;
    height: 100%;
    background: url("../images/all-hoverbg.png") repeat center;
}

.element .list_box ul li:nth-child(n+6) {
    margin-bottom: 0;
}

/*免抠元素专题*/

/*背景图库专题*/
.gallery {
    padding-top: 88px;
}

.gallery .list_box ul li:nth-child(1), .gallery .list_box ul li:nth-child(5) {
    margin-right: 20px;
}

.gallery .list_box ul li:nth-child(4), .gallery .list_box ul li:nth-child(6) {
    margin-right: 0;
}

.gallery .list_box ul li:nth-child(n+5) {
    margin-bottom: 0;
}
.gallery .list_box ul li, .gallery .list_box ul li img, .gallery .list_box ul li a {
    width: 342px;
    height: 473px;
}

.gallery .list_box ul li:nth-child(n+5), .gallery .list_box ul li:nth-child(n+5) img, .gallery .list_box ul li:nth-child(n+5) a {
    width: 708px;
    height: 270px;
}

.gallery .list_box ul li a:hover .img_msg {
    transition: all 0.4s;
    height: 100%;
    background: url("../images/all-hoverbg.png") repeat center;
}

/*背景图库专题*/

/*办公文档专题*/
.Word .list_box ul li {
    margin-right: 25px;
}

.Word .list_box ul li:last-child {
    margin-right: 0;
}

.Word .list_box ul li, .Word .list_box ul li img, .Word .list_box ul li a {
    width: 342px;
    height: 548px;
}

/*办公文档专题Over*/

/*视频音频专题*/
.Video .list_box ul {
    padding-bottom: 62px;
}
.Video .list_box ul li {
    position: relative;
    margin-right: 28px;
    margin-bottom: 0;
}

.Video .list_box ul li:last-child {
    margin-right: 0;
}

.Video .list_box ul li, .Video .list_box ul li img, .Video .list_box ul li a, .Video video {
    width: 340px;
    height: 191px;
}

.Video .list_box ul li a:hover .img_msg {
    display: none;
}

/*.Video .list_box ul li:hover video{*/
/*display: block;*/
/*}*/

.Video video {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

/*视频音频专题Over*/

/*VIP专区*/
.viptop {
    height: 136px;
    padding: 35px 0 95px;
}

.viptop dl {
    float: left;
    height: 100%;
    width: 280px;
    /*background-color: pink;*/
    margin-right: 106px;
    text-align: center;
}

.viptop dl:last-child {
    margin-right: 0;
}

.viptop dl dt {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: url(//static.588ku.com/imgPath/index/images180509/advantage-001.svg) no-repeat center;
    margin: 0 auto 23px;
}

.viptop dl dd > span:first-child {
    display: block;
    font-size: 16px;

    height: 39px;
}

.viptop dl dd > span:last-child {
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
}

.viptitle {
    display: block;
    width: 100%;
    height: 103px;
    text-align: center;
    font-size: 30px;
}

.vipmain {
    width: 940px;
    height: 222px;
    /*background-color: pink;*/
    margin: 0 auto 60px;

}

.vipmain img {
    float: left;
    width: 222px;
    height: 222px;
}

.vipmain .content {
    position: relative;
    padding-left: 30px;
    float: left;
    height: 222px;
    width: 90px;
}

.content h1 {
    height: 42px;
    font-size: 22px;
}

.content p {
    line-height: 28px;
    color: rgba(0, 0, 0, .4);
}

.content a {
    position: absolute;
    display: block;
    left: 30px;
    bottom: 0;
    color: #038bff;
}

.content a span {
    position: absolute;
    right: 0;
    transform: translateX(120%);
}

.content a:hover span {
    transition: all 0.5s;
    transform: translateX(200%);
}

/*VIP专区Over*/

/*我们的客户*/
.Customer {
    background-color: #f9f9f9;
    overflow: hidden;
    padding-bottom: 68px;
}

.Customer_title {

    display: block;

    margin-top: 20px;
    width: 100%;
    text-align: center;
    height: 75px;
    font-size: 30px;
}

.Customer li {
    float: left;
    width: 120px;
    height: 90px;
    margin-right: 140px;
    margin-bottom: 20px;
    opacity: 0.6;
}

.Customer li img {
    width: 130px;
    height: 90px;
}

.Customer li:nth-child(6n) {
    margin-right: 0;
}

.Customer li:nth-child(n+7) {
    margin-bottom: 0;
}

/*我们的客户Over*/

/*底部Footer*/
.Footer {
    width: 100%;
    background-color: #232323;
}

.footer_hd {
    padding-top: 70px;
}

.footer_hd dl {
    width: 190px;
    float: left;
}

/*.footer_hd dl,.footer_hd dl dt,.footer_hd dl dd{*/
/*float: left;*/
/*}*/
.footer_hd dl dt {
    font-size: 20px;
    height: 50px;
    color: #fff;
}

.footer_hd dl dd {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}

.footer_hd dl dd a {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
}

/*底部Footer_Over*/


/*左边固定栏*/
.fixLeft {
    display: none;
    position: fixed;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
}

.fixLeft ul {
    width: 88px;
}

.fixLeft ul a {
    display: block;
    width: 86px;
    height: 49px;
    border-top: 1px solid #a4d1f5;
    border-left: 1px solid #a4d1f5;
    border-right: 1px solid #a4d1f5;
    text-align: center;
    line-height: 50px;
}

.fixLeft ul li:nth-child(8) {
    height: 48px;
    border-bottom: 1px solid #a4d1f5;
}

.fixLeft ul li a:hover {
    background-color: #a4d1f5;
    color: #fff;
}

.fixLeft ul li:last-child a {
    overflow: hidden;
    border: 0;
    height: 50px;
    width: 88px;
    color: #ffffff;
    line-height: 16px;
    font-size: 16px;
    background-color: #1584dc;
}

.fixLeft ul li i {
    display: block;
    width: 24px;
    height: 13px;
    margin: 10px auto 3px;
    background: url(//static.588ku.com/imgPath/index/images/indexV3-icon.png) no-repeat -340px -154px
}

/*左边固定栏*/

/*右边固定栏*/

.fixRight {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background-color: rgba(66, 66, 66, .6);
    width: 40px;
}

.fixRight ul li a {
    color: #ffffff;
    font-size: 12px;
}

.fixRight ul.top {
    width: 40px;
    position: fixed;
    bottom: 73%;
    text-align: center;
}

.fixRight ul i {
    font-size: 18px;
    font-family: 'icomoon';
}

.fixRight ul.top i {
    display: inline-block;
    position: absolute;

    left: 50%;
    top: 10%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    animation: myfirst 1.2s ease infinite alternate;
}

@keyframes myfirst {
    from {
        transform: translate(-50%, 0%)
    }
    to {
        transform: translate(-50%, 100%)
    }
}

@-moz-keyframes myfirst /* Firefox */
{
    from {
        transform: translate(-50%, 0%)
    }
    to {
        transform: translate(-50%, 100%)
    }
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    from {
        transform: translate(-50%, 0%)
    }
    to {
        transform: translate(-50%, 100%)
    }
}

@-o-keyframes myfirst /* Opera */
{
    from {
        transform: translate(-50%, 0%)
    }
    to {
        transform: translate(-50%, 100%)
    }
}


.fixRight ul.top li {

    padding: 17.5px 0;
}

.fixRight ul.top li:nth-child(1) {
    background-color: #008aff;
    position: relative;
    color: #94ceff;
    padding: 32px 0 17.5px;
}

.fixRight ul.middle {
    position: fixed;
    bottom: 38.4%;
    width: 40px;
}

.fixRight ul.middle li {

    text-align: center;
}

.fixRight ul.middle li:nth-child(1), .fixRight ul.middle li:nth-child(4) {
    padding: 15px 0;
}

.fixRight ul.middle li:nth-child(2) {
    padding: 15px 0;
}

.fixRight ul.middle li:nth-child(3) {
    padding: 10.5px 0;
}

.fixRight li:hover {
    background-color: #008aff;
}

.fixRight ul.bottom {
    width: 40px;
    position: fixed;
    bottom: 13.4%;
}

.fixRight ul.bottom li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

/*右边固定栏*/